@using Microsoft.AspNetCore.Components.Routing


<nav>
    <ul style="list-style:none; padding-left:0;">
        <li>
            <NavLink href="timeentries" class="nav-link" activeClass="active" style="display:block; padding:0.5rem 1rem; text-decoration:none;">
                Employee Time Entries
            </NavLink>
        </li>
    </ul>
</nav>

<style>
    .nav-link.active {
        font-weight: bold;
        background-color: #0078D7;
        color: white;
    }

    .nav-link:hover {
        background-color: #e0e0e0;
    }
</style>
